.webcam-container {
    border-radius: 50%;
    overflow: hidden;
    background-color: aquamarine;
    height: 10em;
    width: 10em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}