
@import "../../scss/variables";

.console-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.console-column {
    flex: none;
    width: 20%;
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.data-row {
    font-size: 1.5em;
    margin: 0.25em 0;
    width: 8em;
    display: flex;
    justify-content: space-between;
    height: 1.25em;
    line-height: 1.25em;

    .data-unit {
        display: inline-flex;
        width: 2em;
    }
}

.thermometer {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    bottom: 0;
    position: absolute;
    color: rgba(255,255,255, 0.3)
}

@media (max-width: 1024px) {
    .console-container {
        flex-direction: column;
    }

    .console-column {
        width: 100%;
    }
}