.line-chart {
    background-color: wheat;
}

.line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 1px;
}

.area-line {
    fill: rgba(0, 0, 0, 0.2);
    // stroke: rgba(0, 0, 0, 0.8);
    // stroke-width: 1px;
}


