.rain-chart-container {
    width: 100%;
    height: calc(100vh - 20em);
    max-height: calc(100vh - 20em);
}

.rain-chart {
    // background-color: wheat;
    color: currentColor;
    fill: currentColor;
}

.line {
    fill: none;
    stroke: currentColor;
    stroke-width: 1px;
}

.tick {
    fill: currentColor;
}



