
@import '../../../scss/variables';

.panel-container {
    margin: 0.5em;
    box-shadow: $boxShadow;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #212121;
}

.panel-header {
    flex: none;
    height: 3em;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.panel-label {
    font-size: 1.5em;
}

.panel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
