
@import '../../../scss/variables';

.panel-container {
    margin: 0.5em;
    box-shadow: $boxShadow;
    margin: 0.5em;
    padding: 0.5em;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222222;
}
