.temperature-chart-container {
    width: 100%;
    height: calc(100vh - 20em);
    max-height: calc(100vh - 20em);
}

.temperature-chart {
    width: 100%;
}

.out-temp-line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
}

.out-temp-area {
    fill: url(#outTempAreaGradient);
}

.tick {
    fill: currentColor;
}



