body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html {
  background-color: red;
}

html,
body,
#root {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


