.wind-chart-container {
    width: 100%;
    height: 20em;
}

.wind-chart {
    color: currentColor;
    fill: currentColor;
}

// .line {
//     fill: none;
//     stroke: currentColor;
//     stroke-width: 1px;
// }

// .tick {
//     fill: currentColor;
// }



