@import 'variables';

svg {
    filter: drop-shadow($boxShadow);

    g.tick {
        // color: #616161;

        line {
            stroke: rgba(0, 0, 0, 0.6);
            stroke-width: 1px;
            stroke-dasharray: 1em, 1em;
        }

        text {
            // color: purple;
        }
    }

    path {

        &.line {
            fill: none;
            stroke: rgba(0, 0, 0, 0.4);
            stroke-width: 2px;
        }

        &.area {
            fill: blue;
        }

        &.domain {
            fill: none;
            stroke: red;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        &.arc {
            fill: green;
        }
    }

    text {
        color: inherit;
        fill: currentColor;
    }

}
